<div class="container">
  <div class="text-center">
    <h3>Reactive Form Tutorial</h3>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="frmData" (ngSubmit)="SaveData()">
        <div class="mb-3 row">
          <label for="Name" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control mb-5"
              id="Name"
              name="Name"
              formControlName="Name"
            />
          </div>

          <br />
          <div class="mb-3 row">
            <label for="formFile" class="col-sm-2 col-form-label">File</label>
            <div class="col-sm-10">
              <input
                class="form-control"
                formControlName="file"
                id="file"
                name="file"
                type="file"
                multiple
                (change)="onFileChange($event)"
              />
            </div>
          </div>
          <br />

          <label for="DateOfBirth" class="col-sm-2 col-form-label"
            >Date Of Birth</label
          >
          <div class="col-sm-10 mb-3">
            <input
              type="date"
              class="form-control"
              id="DateOfBirth"
              name="DateOfBirth"
              formControlName="DateOfBirth"
            />
          </div>
        </div>

        <div class="row" *ngFor="let game of favouriteGames">
          <div class="col-md-2"></div>
          <div class="col-md-10">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                [value]="game.id"
                [checked]="game.isActive"
                formControlName="favouriteGame"
                (change)="onCheckboxChange(game.id, game.name, $event)"
              />
              <label class="form-check-label" for="favouriteGame">
                {{ game.name }}
              </label>
            </div>
          </div>
        </div>

        <div class="row" *ngFor="let group of Groups">
          <div class="col-md-2"></div>
          <div class="col-md-10">
            <div class="form-check p-1">
              <input
                class="form-check-input"
                type="radio"
                [value]="group.name"
                name="group"
                [checked]="group.isActive"
                formControlName="group"
              />
              <label class="form-check-label">
                {{ group.name }}
              </label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2"><label> Country </label></div>
          <div class="col-md-10">
            <select
              class="form-select"
              id="Country"
              name="Country"
              formControlName="Country"
            >
              <option selected>Open this select menu</option>
              <option *ngFor="let country of Countries" [value]="country.id">
                {{ country.name }}
              </option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-10">
            <button class="btn btn-primary mt-2" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
